body {
  background-color: black;
  color: white;
}

nav {
  margin: 20px;
}

.nav-button {
  background-color: black;
  color: white;
  font-size: 36px;
}

.flex-container-caja {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-pad {
  background-color: white;
  color: black;
  height: 400px;
  margin: 5px
}

.item-pad {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.item-pad h2 {
  font-size: 36px;
}

.item-pad button {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 48px;
  border-radius: 50%;
}
.remove-taco {
  background-color: black;
  border: none;
  color: white;
}

.add-taco {
  background-color: white;
  color: black;
  border-color: black;
}

.remove-taco:hover, .add-taco:hover {
  background-color: gray;
}

.total {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  text-align: left;
  align-items: center;
  width: 400px;
  margin-left: 20px;
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 18px;
}

.total-button {
  background-color: black;
  color: white;
  font-size: 50px;
}

.total-button:hover {
  background-color: gray;
  color: black;
}

.cantidad {
  max-width: 100px;
  font-size: 54px;
  font-weight: bold;
  border: none;
  text-align: center;
}

.entrega {
  max-width: 100px;
  font-size: 32px;
  font-weight: bold;
  border: none;
  text-align: left;
}

.receipt-header {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.receipt-img {
  height: 120px;
}

.receipt-table {
  margin: 0 auto;
  text-align: right;
}

.receipt-item {
  text-align: left;
}

.receipt-quantity {
  text-align: center;
}

.receipt-total {
  font-weight: bold;
}

.receipt-factura {
  text-align: center;
  margin: auto auto;
  width: 180px;
}

.bold-span {
  font-weight: bold;
}

#active {
  color: red;
}

#receipt {
  visibility: hidden;
  color: black;
  margin: 0 auto;
  font-size: 14px;
  width: 300px;
}

@media only screen and (max-width: 900px) {
  .flex-container-caja {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .total-button {
    background-color: black;
    color: white;
    font-size: 36px;
  }
}

/* Add animation (fade in the popup) */
@media print {
  body * {
    visibility: hidden;
  }
  #receipt, #receipt * {
    visibility: visible;
  }
  #receipt {
    position: absolute;
    left: 0;
    top: 0;
  }
}
